<div>
    <div class = "card-presentazione">
        <mat-card>
            <img mat-card-avatar src="/assets/Music_Icon.png">
            <mat-card-title>
                <button mat-raised-button color="primary">
                    <p>Registrati</p>
                </button>
            </mat-card-title>
        </mat-card>
    </div>
    <div class = "card-presentazione">
        <mat-card>
            <mat-card-title>
                <img mat-card-avatar src="/assets/Music_Icon.png">
                <button mat-raised-button color="primary">
                    <p>Login</p>
                </button>
            </mat-card-title>
        </mat-card>
    </div>
</div>
